<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.orange.querysystem"
    android:versionCode="1"
    android:versionName="0.3">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application 
        android:label="@string/app_name"
        android:icon="@drawable/app_pic"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MyAppWidgetProvider"
            android:exported="false">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/myappwidgetprovider"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
		<activity
            android:screenOrientation="portrait"
            android:label="学生查询系统"
            android:name=".LoginActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"></activity>
        <activity
            android:screenOrientation="sensor"
            android:name=".content.InsertDBFragmentActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".content.ListCoursesActivity" />
        <activity android:name=".content.ListPostsActivity" />
-       <activity android:name=".content.ShowOnePostActivity" />
-       <activity android:name=".content.StudentInfoActivity" />
		<activity android:name=".content.AllListCoursesActivity" />
		<activity android:name=".content.MainMenuActivity" />
		<activity android:name=".content.CourseInfoActivity"/>
    </application>

</manifest>
